{{>header}}

<div class="container-fluid">

<h3 class="text-center">Listado de cursos disponibles</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Valor</th>
      <th scope="col">Modalidad</th>
      <th scope="col">Intensidad</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
      {{{listarCursos}}}
  </tbody>
</table>

</div>

{{>footer}}